

.origami1{    
    border: solid;    
    display: flex;
    justify-content: space-evenly;
    background-color:grey ;
}
.origami2{
    border: solid;
    display: flex;
    justify-content: space-evenly;
    background-color:grey ;
}
body{
    background-color: darkgrey;
}
.header{
    font-style: bold;
}
.extra{
    font-style: italic;
}
